/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .home .container {
        flex-direction: column;
        text-align: center;
    }

    .home h1 {
        font-size: 28px;
    }

    .home p {
        font-size: 15px;
    }

    .home img {
        display: none;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .home h1 {
        font-size: 24px;
    }

    .home p {
        font-size: 14px;
    }
}
