/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .home .container {
        flex-direction: column;
        text-align: center;
    }

    .home h1 {
        font-size: 28px;
    }

    .home p {
        font-size: 15px;
    }

    .home img {
        display: none;
    }

    .image{
        width: 50%;
        margin-bottom: 20px;
    }

    .image img{
        width: 30vh;
    }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .home h1 {
        font-size: 24px;
    }

    .home p {
        font-size: 14px;
    }

    .image{
        width: 100%;
    }
}
