* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat-Regular'), url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
} */


/* Button */
.btn {
    display: inline-block;
    padding: 8px 60px;
}

.btn-transparent {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: .5s;
}

.btn-transparent:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 90%    ;
  margin: 0 auto;
}

.title-center-h2 {
	text-align: center;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 350px;
  height: 350px;
}

.swiper-button-next:active {
  color: #1d2eae;
}
.swiper-button-prev:active {
	color: #1d2eae;
}

.swiper-button-next:hover {
  color: grey;
}
.swiper-button-prev:hover {
	color: grey;
}

.swiper-button-next {
  color: black;
}
.swiper-button-prev {
	color: black;
}

.michelle {
	background-image:url(../../assets/images/humaaans/Humaaans/standing-20.png);
}
.liko {
	background-image:url(../../assets/images/humaaans/Humaaans/standing-19.png)
}
.sandi {
	background-image:url(../../assets/images/humaaans/Humaaans/sitting-8.png)
}
.tiyo {
	background-image:url(../../assets/images/humaaans/Humaaans/standing-5.png)
}
.arief {
	background-image:url(../../assets/images/humaaans/Humaaans/standing-11.png)
}


/* Home */
.home {
    background: linear-gradient(to right, #5b86e5, #36d1dc); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home h1, .home p {
    color: white;
}

.home p {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.6;
}

.home img {
    width: 100%;
}



















