* {
  box-sizing: border-box;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*end scroll bar*/

/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat-Regular'), url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
} */

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background: linear-gradient(to right, #5b86e5, #36d1dc 100%, #0000); /* background when scroll is in the top */
  transition: background .5s; /* control how smooth the background changes */
  /* position: -webkit-sticky; */
  /* position: sticky; */
  position: fixed;
  top: 0;
  z-index: 10;
}

header.scrolled {
  background: linear-gradient(to right, #5b86e5, #36d1dc);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.tigaDLogo {
   color: white; 
   font: bold 41px 'Montserrat', Sans-Serif;
   text-shadow: 1px 1px #36d1dc, 
                2px 2px #36d1dc, 
                3px 3px #36d1dc;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.tigaDLogo:hover {
   position: relative; 
   top: -3px; 
   left: -3px; 
   text-shadow: 1px 1px #36d1dc, 
                2px 2px #36d1dc, 
                3px 3px #36d1dc, 
                4px 4px #36d1dc, 
                5px 5px #36d1dc, 
                6px 6px #36d1dc;

   -webkit-transform: scale(1.1); 
   -moz-transform:    scale(1.1);
   -ms-transform:     scale(1.1); 
   -o-transform:      scale(1.1); 
   text-shadow: 3px 3px 0 #333;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  /* float: left; */
}

.header-right {
  /* overflow: hidden; */
  /* float: right; */
  /* margin-right: -25px; */
  display: flex;
}

.header-right a {
  /* text-decoration: none; */
  text-align: center;
  /* float: left; */
  display: block;
  color: white;
  padding: 0 25px;
  line-height: 65px;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.icon {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  max-width: 1170px;
  /*width: 90%;*/
  /*margin: 0 auto;*/
  padding: 0 15px;
  margin: 0 auto;
}

/* Button */
.btn {
    display: inline-block;
    padding: 8px 60px;
}

.btn-transparent {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: .5s;
}

.btn-transparent:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.our-team {
	background: #f7f7f7;
  padding-bottom: 50px;
}

.title-center-h2 {
	text-align: center;
  padding: 1%;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 350px;
  height: 350px;
}

.swiper-button-next:active {
  color: #1d2eae;
}
.swiper-button-prev:active {
	color: #1d2eae;
}

.swiper-button-next:hover {
  color: grey;
}
.swiper-button-prev:hover {
	color: grey;
}

.swiper-button-next {
  color: black;
}
.swiper-button-prev {
	color: black;
}

.michelle {
	background-image:url(../../assets/images/humaaans/Humaaans/standing-20.png);
}
.liko {
	background-image:url(../../assets/images/humaaans/Humaaans/standing-19.png)
}
.sandi {
	background-image:url(../../assets/images/humaaans/Humaaans/sitting-8.png)
}
.tiyo {
	background-image:url(../../assets/images/humaaans/Humaaans/standing-5.png)
}
.arief {
	background-image:url(../../assets/images/humaaans/Humaaans/standing-11.png)
}


/* Home */
.home {
    background: linear-gradient(to right, #5b86e5, #36d1dc); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home h1, .home p {
    color: white;
}

.home p {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.6;
}

.home img {
    width: 100%;
    height: 100%;
}

.home p a {
    color: white;
    text-decoration: underline;
}

.web-description{
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.images{
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
}

.heading{
  padding-top: 100px;
  padding-bottom: 50px;
}

.heading.center {
  text-align: center;
}

.image{
  width: 25%;
  float: left;
  background-size: 20%;
}

.image img{
  width: 18vw;
  height: 21vh;
  margin-bottom: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.img-1 {
  animation: slide-1 15s infinite;
}

.img-2{
  animation: slide-2 15s infinite;
}

.img-3{
  animation: slide-3 15s infinite;
}

.img-4{
  animation: slide-4 15s infinite;
}

@keyframes slide-1{
  0%{
    background-image: url('../../assets/images/lazy_daisy.png');
  }
  50%{
    background-image: url('../../assets/images/4f370811b981421c91864e14dd4a7920.png');
  }
  100%{
    background-image: url('../../assets/images/lazy_daisy.png');
  }
}

@keyframes slide-2{
  0%{
    background-image: url('../../assets/images/cb6f2af240ff6ba626bd53bca7d4b95c.png');
  }
  50%{
    background-image: url('../../assets/images/330b410a91a850a77d808ad3912e1cc8.jpg');
  }
  100%{
    background-image: url('../../assets/images/cb6f2af240ff6ba626bd53bca7d4b95c.png');
  }
}

@keyframes slide-3{
  0%{
    background-image: url('../../assets/images/b937d230bef7e494ed65d1e3af0bee94.png');
  }
  50%{
    background-image: url('../../assets/images/93fdf4abfb2df5a0302680fcfa38fc58.png');
  }
  100%{
    background-image: url('../../assets/images/b937d230bef7e494ed65d1e3af0bee94.png');
  }
}

@keyframes slide-4{
  0%{
    background-image: url('../../assets/images/40b5a0fc61068667ae0ef097dacbdbc1.png');
  }
  50%{
    background-image: url('../../assets/images/intuit-v2_dribbble.jpg');
  }
  100%{
    background-image: url('../../assets/images/40b5a0fc61068667ae0ef097dacbdbc1.png');
  }
}

.clear{
  clear: left;
}

.about {
  background: linear-gradient(to right, #36D1DC, #5B86E5); 
  padding-bottom: 50px;
}

.about-body {
  text-align: center;
  font-size: 17px;
  color: white;
  padding: 25px;
}

.white {
  color: white;
}

.left {
  width: 40%;
  margin-left: 8%;
  margin-right: 4%;
  float: left;
  font-size: 30px;
  color: white
}

.right {
  float: right;
  width: 60%;
  padding: 22px;
  color: white;
}















